*{
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
}
body{
    width: 400px;
    margin: auto;
    background-color: #E2ECEE;
}
.ci, .estudiante, .profesor, .usuario{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.estudiante label, .profesor label, .usuario label{
    display: block;
    font-weight: bold;
}
.estudiante div, .profesor div, .usuario div{
    margin-bottom: 14px;
}
.estudiante input[type='text'], .profesor input[type='text'], .usuario input[type='text']{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}



.usuario input[type='password']{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.estudiante input[type='text']:focus, .profesor input[type='text']:focus, .usuario input[type='text']:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}

.usuario input[type='password']:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}

.estudiante input[type='submit'], .profesor input[type='submit'], .usuario input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.estudiante input[type='submit']:hover, .profesor input[type='submit']:hover, .usuario input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.estudiante input[type='submit']:active, .profesor input[type='submit']:active, .usuario input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

.formulario form {
    width: 300;
    height: 300;
}