form{

	background-color:#f5f5f5;
	padding:30px;

	/* rounded corners */
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
	width: 500px;
position: absolute;
top: 25px;
  right: 360px;
}
