<html>
<head>
<meta charset="utf-8" />
 <title>Profesor</title>
        <link rel='stylesheet' href='estilos.css'>
    </head>
    <body>
        <form class='profesor'>
        	<div><label>Cedula:</label><input type='text' value=''></div>
            <div><label>Nombre:</label><input type='text' value=''></div>
            <div><label>Apellido:</label><input type='text' value=''></div>
            <div><label>Fecha de Nacimiento:</label><input type='text' value=''></div>
            <div><label>Telefono:</label><input type='text' value=''></div>
            <div><label>Email:</label><input type='text' value=''></div>
            <div><label>Docente Instruccion:</label><input type='text' value=''></div>
            <div><label>Docente Interprete:</label><input type='text' value=''></div>
            <div><input type='submit' value='Guardar'></div>
        </form>
    </body>
</html>