<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template SoulHand</title>    
    <script src="/dist/app.js" type="text/javascript"></script>    
</head>
<body>
	<div class="content" data-app="soulhand-services" data-align="left">
		<div class="body">
		<section class="page">
			<div class="bar metro gray">				
				<div class="center_side">
				<label class="label">{Titulo}</label>
				</div>
				<div class="right_side">
          			<button type="button" class="navbar-toggle icon-bar">
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          			</button>
				</div>
			</div>
			<div class="container-body">
				<div class="container">
					<h1 class="text-align center">Docentes registrados</h1>
					<div class="row">
					    <div class="col">
							<button class=" button circle icons x16 add white" title="Añadir un docente"></button>
					    </div>
					    <div class="col col-lg-4">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar">		
					    </div>
				  	</div>
				  	<div class="fieldset" data-align="justify">
				  		<div class="item">
				  			<img src="/images/1.jpg" alt="..." class="rounded-circle" width="84" height="84">
				  			<div class="container-element text-align center">
				  				<a href="#" class="title">{nombre_usuario}</a>
				  				<small>{_id}</small>
				  			</div>
				  			<div class="toolbox">
				  				<button class="button circle icons x16 edit white"></button>
				  				<button class="button circle icons x16 delete white"></button>
				  			</div>
				  		</div>
				  	</div>
				</div>
			</div>		
		</section>
		</div>
	</div>    
</body>
</html>